/* Enter your Styles below! */
@font-face {
font-family: "sporting-grotesque";
src: url("../fonts/Sporting_Grotesque-Regular_web.eot");
src:
url("../fonts/Sporting_Grotesque-Regular_web.woff") format("woff"),
url("../fonts/Sporting_Grotesque-Regular_web.otf") format("opentype"),
url("../fonts/Sporting_Grotesque-Regular_web.svg#filename") format("svg");
}

@font-face {
font-family: "sporting-grotesque-bold";
src: url("../fonts/Sporting_Grotesque-Bold_web.eot");
src:
url("../fonts/Sporting_Grotesque-Bold_web.woff") format("woff"),
url("../fonts/Sporting_Grotesque-Bold_web.otf") format("opentype"),
url("../fonts/Sporting_Grotesque-Bold_web.svg#filename") format("svg");
}

@font-face {
font-family: "work-sans-light";
src: url("../fonts/WorkSans-Light.eot");
src:
url("../fonts/WorkSans-Light.woff") format("woff"),
url("../fonts/WorkSans-Light.otf") format("opentype"),
url("../fonts/WorkSans-Light.svg#filename") format("svg");
}

@font-face {
font-family: "work-sans";
src: url("../fonts/WorkSans-Regular.eot");
src:
url("../fonts/WorkSans-Regular.woff") format("woff"),
url("../fonts/WorkSans-Regular.otf") format("opentype"),
url("../fonts/WorkSans-Regular.svg#filename") format("svg");
}



body { 
	font-family: "work-sans-light", sans-serif;
	font-size: 14px;
	 }

h1, h2, h3, h4 {
	font-family: "sporting-grotesque", sans-serif;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

blockquote {
	text-align: center;
	color: #e8e8e8;
	padding: 45px;
	background-color: #e9444f;
}

img {
	width: 100%;
	}

a { 
	color: black;
	text-decoration: none;
	}

a:hover {
	color: #e9444f;
	}

.main-nav {
	display: grid;
	justify-content: space-between;
	position: fixed;
	background-color: #e8e8e8;
	border-style: solid;
	border-color: black;
	border-width: .25px;
	border-color: black;
}

.main-nav ul {
	display: grid;
	grid-template-columns: 2fr 2fr .75fr .75fr .75fr;
	align-items: center;
}

.main-nav li {
	padding: 10px;
	border-style: solid;
}

.main-nav img {
	width: 45%;
}

.nav-title {
	font-family: "sporting-grotesque", sans-serif;
	font-size: 14px;
}

 .yellow-banner-home { 
	background-color: #f9e56b;
	height:40px;
	border-style: solid;
	border-color: black;
	border-width: .25px;
	text-align: center;
 }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
	width: 100%;
}

.blue-home {
	background-color: #0e306a;
	color: #e8e8e8;
	border-style: solid;
	border-color: black;
	border-width: .25px;
	padding: 50px;
	line-height: 2;
	}

.blue-home h2 {
	font-size: 30px;
	line-height: 1.4;
}

.joe {
	padding: 60px;
	width: 70%;
}

.contracts {
	text-align: center;
	color: #e8e8e8;
	padding: 45px;
	background-color: #e9444f;
	border-style: solid;
	border-color: black;
	border-width: .25px;
}

.contracts h1 {
	font-size: 75px;
	line-height: 1.2;
	text-align: left;
	vertical-align: middle;
}

.footer {
	display: grid;
	justify-content: space-between;
	background-color: #e8e8e8;
	border-style: solid;
	border-color: black;
	border-width: .25px;
	border-color: black;
}

.sam { 
	width: 70%;
	}

.space-me {
	grid-gap: 40px;
	}

 .green-banner { 
	background-color: #6d9b4f;
	height: 60px;
 }

.yellow-banner { 
	background-color: #f9e56b;
	height: 60px;
 }


@media only screen and (min-width: 768px) {
	body {
		background-color: skyblue;
	}
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		background-color: salmon;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background-color: pink;
	}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/