/* Fonts */
@font-face {
font-family: "sporting-grotesque";
src: url("../fonts/Sporting_Grotesque-Regular_web.eot");
src:
url("../fonts/Sporting_Grotesque-Regular_web.woff") format("woff"),
url("../fonts/Sporting_Grotesque-Regular_web.otf") format("opentype"),
url("../fonts/Sporting_Grotesque-Regular_web.svg#filename") format("svg");
}

@font-face {
font-family: "sporting-grotesque-bold";
src: url("../fonts/Sporting_Grotesque-Bold_web.eot");
src:
url("../fonts/Sporting_Grotesque-Bold_web.woff") format("woff"),
url("../fonts/Sporting_Grotesque-Bold_web.otf") format("opentype"),
url("../fonts/Sporting_Grotesque-Bold_web.svg#filename") format("svg");
}

@font-face {
font-family: "work-sans-light";
src: url("../fonts/WorkSans-Light.eot");
src:
url("../fonts/WorkSans-Light.woff") format("woff"),
url("../fonts/WorkSans-Light.otf") format("opentype"),
url("../fonts/WorkSans-Light.svg#filename") format("svg");
}

@font-face {
font-family: "work-sans";
src: url("../fonts/WorkSans-Regular.eot");
src:
url("../fonts/WorkSans-Regular.woff") format("woff"),
url("../fonts/WorkSans-Regular.otf") format("opentype"),
url("../fonts/WorkSans-Regular.svg#filename") format("svg");
}

@font-face {
font-family: "work-sans-bold";
src: url("../fonts/WorkSans-Bold.eot");
src:
url("../fonts/WorkSans-Bold.woff") format("woff"),
url("../fonts/WorkSans-Bold.otf") format("opentype"),
url("../fonts/WorkSans-Bold.svg#filename") format("svg");
}

/* Body */

body { 
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	background-color: #e8e8e8; 
	}

h1, h2, h3, h4 {
	font-family: "sporting-grotesque", sans-serif;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

img {
	width: 100%;
	}

/* Hover */

a { 
	color: black;
	text-decoration: none;
	}

a:hover {
	font-weight: 500;
	}

.standard-rates h1:hover {
	background-color: #437d3b;
}

.student-rates h1:hover {
	background-color: #d62027;
}

.group-rates h1:hover {
	background-color: #001938;
}

.main-nav .logo-nav:hover {
	content: url(../images/loprinzi-logo-grey.png);
}

/* Home Page */

blockquote {
	text-align: center;
	color: #e8e8e8;
	padding: 45px;
	background-color: #e9444f;
	margin-top: -2px;
	border-top: solid;
	border-color: black;
	border-width: .25px;
}

.main-nav.scrolled {
  background-color: #e8e8e8 !important;
  transition: background-color 200ms linear;
}


.main-nav {
	display: grid;
	justify-content: space-between;
	position: fixed;
	background-color: #6d9b4f;
	border-style: solid;
	border-color: black;
	border-width: .25px;
	border-color: black;
}

.main-nav ul {
	display: grid;
	grid-template-columns: 2fr 2fr .75fr .75fr .75fr;
	align-items: center;
}

.main-nav li {
	padding: 10px;
	border-style: solid;
}

.main-nav img {
	width: 45%;
}

.nav-title {
	font-family: "sporting-grotesque", sans-serif;
	font-size: 14px;
}

.yellow-banner-home { 
	background-color: #f9e56b;
	border-top: solid;
	border-color: black;
	border-width: .25px;
	text-align: center;
 }

.yellow-banner-home p {
 	font-family: "Work Sans", sans-serif;
	font-style: lighter;
	padding: 12px;
 }

 .yellow-banner-home em {
 	font-family: "sporting-grotesque", sans-serif;
 }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
	width: 100%;
}

.grid-blue-home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
}

.blue-home {
	background-color: #0e306a;
	color: #e8e8e8;
	border-style: solid;
	border-color: black;
	border-width: .25px;
	padding: 50px;
	line-height: 1.8;
	}

.blue-home h2 {
	font-size: 28px;
	line-height: 1.4;
}

.blue-home ul {
	padding-left: 50px;
}

.joe {
	padding: 60px;
	width: 70%;
}

.contracts {
	color: #e8e8e8;
	text-align: center;
	background-color: #e9444f;
	border-left: solid;
	border-color: black;
	border-width: .25px;
}

.contracts.sm {
	padding:0;
}

.contracts h1 {
	font-size: 75px;
	line-height: 1.2;
	text-align: left;
	padding: 45px;

}

.grid-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin: auto;
	width: 100%;
}

.footer {
	display: grid;
	justify-content: space-between;
	background-color: #e8e8e8;
	vertical-align: middle;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	border-width: .25px;
	text-align: center;
}

footer div {
	align-items: center;
}

footer p {
	padding: 30px;
	font-family: "Work Sans", sans-serif;
	font-style: lighter;
	line-height: 1.3em;
}

footer em {
	font-family: "sporting-grotesque", sans-serif;
}

footer .address {
	border-right: solid;
	border-color: black;
	border-width: .25px;
}

footer .contact {
	border-left: solid;
	border-color: black;
	border-width: .25px;
}

 /* Classes */

 /* Header */

.grid-yellow {
	display: grid;
	grid-template-columns: 1.8fr 1fr;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}

.yellow-class {
	background-color: #f9e56b;
	color: black;
	border-style: solid;
	border-color: black;
	border-width: .25px;
	padding: 70px;
	line-height: 1.8;
	}

.yellow-class h2 {
	font-size: 28px;
	line-height: 1.4;
	padding-top: 50px;
}

.yellow-class img {
	width: 90%;
	padding-top: 50px;
	padding-left: 25px;
}

 /* Table */

.table-class {
	background-color: #e9444f;
	padding: 70px;
}

.grid-class-schedule {
	background-color: #e9444f;
	color: #e8e8e8;
	padding-bottom: 30px;
}

.table-class table {
	background-color: #e9444f;
	color: #e8e8e8;
	width: 100%;
	line-height: 2.2em;
}

.table-class th {
	font-family: "sporting-grotesque", sans-serif;
	text-align: left;
	padding-left: 5px;
}

.table-class td {
	border: 1px solid #e8e8e8;
	padding: 5px 5px 5px 10px;
}

 /* Rates */

 .standard-rates h1 {
 	display: grid;
	grid-template-columns: 1fr;
	background-color: #6d9b4f;
	color: #e8e8e8;
	font-size: 60px;
	line-height: 1.2em;
	padding: 140px 50px 80px 50px;
 }

 .student-rates h1 {
 	display: grid;
	grid-template-columns: 1fr;
	background-color: #e9444f;
	color: #e8e8e8;
	font-size: 60px;
	line-height: 1.2em;
	padding: 95px 50px 80px 50px;
	border-top: .25px;
	border-style: solid;
	border-color: black;
 }

  .group-rates h1 {
 	display: grid;
	grid-template-columns: 1fr;
	background-color: #0e306a;
	color: #e8e8e8;
	font-size: 60px;
	line-height: 1.2em;
	padding: 95px 50px 80px 50px;
	border-top: .25px;
	border-style: solid;
	border-color: black;
 }

/* Tables Rates */

.table-rates td {
	border: 1px solid black;
	padding: 5px 5px 5px 10px;
}

.table-rates {
	border-top: .25px;
	border-style: solid;
	border-color: black;
}

/* Tables One */

.table-one {
	background-color: #a1cc85;
	padding: 70px;
}

.table-one table {
	background-color: #a1cc85;
	color: black;
	width: 100%;
	line-height: 2.2em;
}

/* Tables Two */

.table-two {
	background-color: #f5a4ab;
	padding: 70px;
}

.table-two table {
	background-color: #f5a4ab;
	color: black;
	width: 100%;
	line-height: 2.2em;
}

/* Tables Three */

.table-three {
	background-color: #9bc2e7;
	padding: 70px;
	border-top: .25px;
	border-style: solid;
	border-color: black;
}

.table-three table {
	background-color: #9bc2e7;
	color: black;
	width: 100%;
	line-height: 2.2em;
}

.table-three th {
	font-family: "sporting-grotesque", sans-serif;
	text-align: left;
	padding-left: 5px;
}

/* About Page */


/* Top Grid */

.about-grid-one {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	width: 100%;
	background-color: #0e306a;
	padding-top: 110px;
	border-bottom: .25px;
	border-style: solid;
	border-color: black;
}

.sam { 
	width: 60%;
	align-content: center;
	padding: 0px 70px 40px 70px;
	}

.about-grid-one h2 {
	color: #e8e8e8;
	font-size: 29px;
	line-height: 1.4;
}

.about-quote {
	padding: 0px 160px 40px 0px;
}

.about-grid-one p {
	color: #e8e8e8;
	padding-top: 15px;
	font-size: 18px;
	font-variant: small-caps;
	text-align: right;
}

/* Middle Grid */

.about-grid-two {
	display: grid;
	grid-template-columns: 1.4fr .8fr;
	margin: auto;
	width: 100%;
}

.space-me {
	grid-gap: 35px;
	text-align: left;
	line-height: 1.2;
	}

.grid-paragraph {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	width: 70%;
	text-align: justify;
}


.space-me em {
	font-variant: small-caps;
}

/* Bottom Grid */
/*
.about-grid-three {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	width: 100%;
}

.gus-image img {
	width: 100%;
}
*/
/* Green Banner */
 /*
 .green-banner { 
	background-color: #6d9b4f;
	height: 40px;
	border-top: .25px;
	border-color: black;
	border-style: solid;
	text-align: center;
 }

 .green-banner em {
 	font-family: "sporting-grotesque", sans-serif;
 }

 .green-banner p {
 	font-family: "Work Sans", sans-serif;
	font-style: lighter;
	padding: 12px;
 }
*/
 /* Yellow Banner */

.yellow-banner { 
	background-color: #f9e56b;
	border-top: .25px;
	border-color: black;
	border-style: solid;
	text-align: center;
 }

 .yellow-banner em {
 	font-family: "sporting-grotesque", sans-serif;
 }

 .yellow-banner p {
 	font-family: "Work Sans", sans-serif;
	font-style: lighter;
	padding: 12px;
 }


 /* Media Queries */

@media only screen and (min-width: 400px) {
	.grid-blue-home {
		grid-template-columns: 1fr;
	}

	.grid-blue-home h2 {
		padding-bottom: 20px;
	}
}

@media only screen and (min-width: 500px) {
	body {
		background-color: #e8e8e8;
		font-family: "Work Sans", sans-serif;
		font-weight: 300;
		font-size: 10px;
	}

	.nav-title {
		font-size: 10px;
	}

	blockquote h2 {
		font-size: 20px;
	}

	.grid-blue-home h2 {
		font-size: 20px;
	}

	.grid-blue-home {
		grid-template-columns: 1fr 1fr;
	}

	.grid-yellow h2 {
		font-size: 20px;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.contracts {
		border-top: solid;
		border-color: black;
		border-width: .25px;
	}
	.contracts h1 {
		font-size: 40px;
	}
}


@media only screen and (min-width: 935px) {
	body {
		background-color: #e8e8e8;
		font-family: "Work Sans", sans-serif;
		font-weight: 300;
		font-size: 14px;
	}

	.nav-title {
		font-size: 14px;
	}

	blockquote h2 {
		font-size: 24px;
	}

	.grid-blue-home h2 {
		font-size: 24px;
	}

	.grid-yellow h2 {
		font-size: 24px;
	}
	
	.grid {
		grid-template-columns: 1fr 1fr;
	}

	.contracts {
		border-top: none;
	}

	.contracts h1 {
		font-size: 75px;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		background-color: #e8e8e8;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background-color: #e8e8e8;
	}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/